.DS_Store
__pycache__/
sdist/
*.egg-info

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml

# virtualenv
myvenv/

# Ruby
.bundle
*.lock

# terraform
.terraform
terraform/Dockerfile
*.tfstate
terraform.tfstate.backup
*.tfvars
*.out
